aside {
  float: left;
}
.jumbotron {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

#weather-btn {
  border: black solid thin;
  display: flex;
  align-items: center;
  justify-content: center;
}
      
#weather-btn i:hover {
font-size: 20px;
transition: all .3s ease-in-out;
border: black solid thin;
}

.uv {

}

.rowCW {
  border: thin dotted black;
  margin-left: 10rem;
  padding-bottom: 25px;
}

.row5F {
  margin-top: 3rem;
  margin-left: 11rem;
  justify-content: center;
}

.asideB {
  background-color: lightgray;
  margin: 0px 5px 5px 5px;
  border: thin black dotted;
}

#myBtn {
  border-radius: 5px;
  padding: 15px 60px;
  display: inline;
  justify-content: left;
  flex-wrap: wrap;
  float: left
  background-color: white;
}

