aside {
  float: left;
}
.jumbotron {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

#weather-btn {
  border: black solid thin;
  display: flex;
  align-items: center;
  justify-content: center;
}
      
#weather-btn i:hover {
font-size: 20px;
transition: all .3s ease-in-out;
border: black solid thin;
}

/* .uv {

}

.favorable
.moderate
.severe */

#bgC {
  border: thin solid black;
}