aside {
  float: left;
}
.jumbotron {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}
.fa .fa-search {
  width: 50%;
  margin: 50px auto;
    }
}